<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sumologic Fields</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scope</th>
                    <th>Parse Expression</th>
                    <th>enabled</th>
                    <th>Scope</th>
                    <th>createdAt</th>
                    <th>createdBy</th>
                    <th>modifiedAt</th>
                    <th>modifiedBy</th>
                    <th>id</th>
                    <th>fieldNames</th>
                </tr>
            </thead>
            <tbody>
                {{ .Content }}
            </tbody>
        </table>
    </body>
</html>>